<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>

        <property name="connection.url">jdbc:mysql://127.0.0.1:3311/myexample</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.username">root</property>
        <property name="connection.password">123</property>
        <property name="hbm2ddl.auto">validate</property>
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        <property name="hbm2ddl.auto">validate</property>


        <mapping class="org.example.mappings.Customer"/>
        <mapping class="org.example.mappings.Device"/>
        <mapping class="org.example.mappings.Tag"/>
    </session-factory>

</hibernate-configuration>